<link rel="stylesheet" href="/css/dashboard.css">
<% if(locals.user) {%>
  <div class="container-dashboard">

    <!-- Student list section -->
    <div class="students" >
      <h3 class="students-heading">Students list</h3>
      <div class="students-list">
        <% for (student of all_students) {%>

          <div class="student-details">
            <div class="student-details-card">

              <!--Basic INFO-->
              <div class="student-details-card__basic-information">
                <div class="student-details-card__basic-information__heading">
                  <p>Name</p>
                  <p>Batch</p>
                  <p>College</p>
                  <p>Status</p>
                </div>
                <div class="student-details-card__basic-information__details">
                  <p><%= student.name %></p>
                  <p><%= student.batch %></p>
                  <p><%= student.college %></p>
                  <p><%= student.placement_status %></p>
                </div>
              </div>
  
              <!--Student Scores-->
              <div class="student-details-card__score">
                <h3 class="student-details-card__score__heading">Scores</h3>
                <table class="student-details-card__interviews__table" >
                  <thead>
                    <tr>
                      <th scope="col">DSA</th>
                      <th scope="col">WEBD</th>
                      <th scope="col">React</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr>
                      <td><%= student.dsa_score %></td>
                      <td><%= student.webdev_score %></td>
                      <td><%= student.react_score %></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
  
              <!--EDIT and DELETE STUDENTS-->
              <div class="student-details-card__actions" >
                <a href="/student/edit-student/<%= student.id %>" class="student-details-card__actions__button primary">Edit</a>
  
                <a href="/student/destroy/<%= student.id %>" class="student-details-card__actions__button danger"> Delete </a>
              </div>
  
            </div>
            <!--Student's Interview Details-->
            <div class="student-details-card__interviews">
              <h3 class="student-details-card__interviews__heading">Interviews</h3>
              <table class="student-details-card__interviews__table" >
                <thead>
                  <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Date</th>
                    <th scope="col">Result</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(interview of student.interviews) {%>
                  <tr>
                    <td><%= interview.company %></td>
                    <td><%= interview.date %></td>
                    <td><%= interview.result %></td>
                  </tr>
                  <%} %>
                </tbody>
              </table>

            </div>
          </div>
          
        <%} %>
      </div>
    </div>

    <!-- Interviews section -->
    <div class="interview-list" >

      <h3 class="">Scheduled Interviews</h3>

      <div class="interview-details" >
        <% for (interview of all_interviews) {%>
        <div class="interview-detail">

          <!--Interview Information-->
          <div class="interview-detail__information">

            <!--Display Company Name and Date -->
            <div class="interview-detail__information__date">
              <p><%= interview.company %> </p>
              <p>Date of Interview: <%= interview.date %></p>
            </div>
              
              <!--Display Enrolled students-->
              <div class="interview-detail__information__enrolled">
                <h5>Enrolled students</h5>

                <% for (i of interview.students) {%>
                
                <!--Enrolled students-->

                  <table class="interview-detail__information__enrolled__table" >
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td><%= i.student.name %></td>
                        <td><%= i.student.email %></td>
                        <td><%= i.result %></td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <div class="interview-detail__information__enrolled__action">
                    <a href="/interview/deallocate/<%= i.student.id %>/<%= interview.id %>" class="interview-detail__information__enrolled__action__button danger">Delete</a>
                  </div>
                  
                <%} %>

              </div>

          </div>

          <!--Adding a student for interview-->
          <div class="interview-detail__add">
              <h5 class="">Add student</h5>
              <form class="container-fluid" action="/interview/enroll-in-interview/<%= interview.id %>" method="POST">
                <div>
                  <label for="student_email" class="form-label">Student email</label>
                  <input type="email" name="email" required/>
                </div>

                <div >
                  <label for="result" class="form-label">Result</label>
                  <select id="result" class="form-select" name="result" required >
                    <option selected>PASS</option>
                    <option>FAIL</option>
                    <option>On Hold</option>
                    <option>Didn't attempt</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Add </button>
              </form>

          </div>

        </div>

        <%} %>

      </div>

    </div>

  </div>
  <%} %>
  