<link rel="stylesheet" href="/css/dashboard.css">
<% if(locals.user) {%>
  <div class="container-dashboard">

    <!-- Student list section -->
    <div class="students" >
      <h3 class="students-heading">Students list</h3>
      <div class="students-list">
        <% for (student of all_students) {%>
          
          <div class="student-details-card">
            <div class="student-details-card__basic-information">
              <div class="student-details-card__basic-information__heading">
                <p>Name</p>
                <p>Batch</p>
                <p>College</p>
                <p>Status</p>
              </div>
              <div class="student-details-card__basic-information__details">
                <p><%= student.name %></p>
                <p><%= student.batch %></p>
                <p><%= student.college %></p>
                <p><%= student.placement_status %></p>
              </div>
            </div>

            <!-- <div class="student-details-card__score">
              <div class="student-details-card__score__heading">
                <p>DSA</p>
                <p>WEBD</p>
                <p>React</p>
              </div>
              <div class="student-details-card__score__details">
                <p><%= student.dsa_score %></p>
                <p><%= student.webdev_score %></p>
                <p><%= student.react_score %></p>
              </div>
            </div> -->

            <div class="student-details-card_score2">
              <h3 class="student-details-card__score__heading">Scores</h3>
              <table class="student-details-card__interviews__table" >
                <thead>
                  <tr>
                    <th scope="col">DSA</th>
                    <th scope="col">WEB Dev</th>
                    <th scope="col">React</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td><%= student.dsa_score %></td>
                    <td><%= student.webdev_score %></td>
                    <td><%= student.react_score %></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>

            <div class="student-details-card__actions" >
              <a href="/student/edit-student/<%= student.id %>" class="student-details-card__actions__button primary">Edit</a>

              <a href="/student/destroy/<%= student.id %>" class="student-details-card__actions__button danger"> Delete </a>
            </div>

            <div class="student-details-card__interviews">
              <h3 class="student-details-card__interviews__heading">Interviews</h3>
              <table class="student-details-card__interviews__table" >
                <thead>
                  <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Date</th>
                    <th scope="col">Result</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(interview of student.interviews) {%>
                  <tr>
                    <td><%= interview.company %></td>
                    <td><%= interview.date %></td>
                    <td><%= interview.result %></td>
                  </tr>
                  <%} %>
                </tbody>
              </table>

            </div>

          </div>

        <%} %>
      </div>
    </div>

    <!-- Interviews section -->
    <div class="interview-list" >
      <h3 class="mt-2">Scheduled Interviews</h3>
      <div class="" style="width: 90%">
        <% for (interview of all_interviews) {%>
        <div class="">
          <h2 class="" id="headingOne">
            <button
              class=""
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse<%= interview._id %>"
              aria-expanded="false"
              aria-controls="collapse<%= interview._id %>"
            >
              <span class=""
                ><%= interview.company %></span
              >
            </button>
          </h2>
          <div
            id="collapse<%= interview._id %>"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Company</th>
                    <td><%= interview.company %></td>
                  </tr>
                  <tr>
                    <th scope="col">Date</th>
                    <td><%= interview.date %></td>
                  </tr>
                </tbody>
              </table>
  
              <div
                class=""
              >
                <h5>Enrolled students</h5>
  
                <% for (i of interview.students) {%>
  
                <div
                  class=""
                >
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td><%= i.student.name %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= i.student.email %></td>
                      </tr>
                      <tr>
                        <td>Result</td>
                        <td><%= i.result %></td>
                      </tr>
                    </tbody>
                  </table>
                  <a
                    href="/interview/deallocate/<%= i.student.id %>/<%= interview.id %>"
                    class="btn btn-danger ms-2 mb-2"
                    style="width: 40%"
                    >Delete</a
                  >
                </div>
  
                <%} %>
              </div>
  
              <div
                class=""
              >
                <h5 class="">Add student</h5>
                <form
                  class="container-fluid"
                  action="/interview/enroll-in-interview/<%= interview.id %>"
                  method="POST"
                >
                  <div class="mb-3">
                    <label for="student_email" class="form-label"
                      >Student email</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="student_email"
                      aria-describedby="emailHelp"
                      name="email"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="result" class="form-label">Result</label>
                    <select
                      id="result"
                      class="form-select"
                      name="result"
                      required
                    >
                      <option selected>PASS</option>
                      <option>FAIL</option>
                      <option>On Hold</option>
                      <option>Didn't attempt</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    &nbsp; Add &nbsp;
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%} %>
      </div>
    </div>
  </div>
  <%} %>
  