<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Font awesome cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/e8e6c63b94.js" crossorigin="anonymous"></script>

  <!--Styles-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link rel="stylesheet" href=" <%= assetPath('css/layout.css') %> ">
  <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
  <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
  <%- style %>
  <title>Placement Cell | Home</title>
</head>
<body>
  <%- include('_header'); %>

  <%- body %>

  <%- include('_footer'); %>

  <%- script %>
</body>
</html>